            <h1 class="cover-heading">Understanding sensor data.</h1>
            <p class="lead">Sensorama captures samples from <b>all</b> sensors
	    of your iPhone at fixed time intervals and sends the captured
	    data to your e-mail address. We store the copy too, for research
	    and improving Sensorama. Everything in free, open and
	    easy-to-read JSON format.</p>
            <p class="lead">

              <a href="https://itunes.apple.com/us/app/sensorama/id1159788831?mt=8" class="btn btn-lg btn-secondary">
	        Download on the AppStore
	      </a>
            </p>
	    <span hidden id="active_page_name">home</span>
