            <h1 class="cover-heading">Understanding sensor data.</h1>
            <p class="lead">Sensorama captures samples from <b>all</b> sensors
	    of your iPhone at fixed time intervals and sends the captured
	    data to your e-mail address. We store the copy too, for research
	    and improving Sensorama. Everything in free, open and
	    easy-to-read JSON format.</p>
            <p class="lead">

              <a href="https://itunes.apple.com/us/app/sensorama/id1159788831?mt=8" class="btn btn-lg btn-secondary">
	        Download on the AppStore
	      </a>
            </p>
	    <p class="lead">
		<!-- Place this tag where you want the button to render. -->
		<a class="github-button" href="https://github.com/wkoszek/sensorama-ios" data-style="mega" data-count-href="/wkoszek/sensorama-ios/stargazers" data-count-api="/repos/wkoszek/sensorama-ios#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star wkoszek/sensorama-ios on GitHub">Star</a>



	      
	      <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-via="wkoszek" data-hashtags="ios" data-related="s,sensoramaapp" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
	    </p>
	    <!-- Place this tag in your head or just before your close body tag. -->
	    <script async defer src="https://buttons.github.io/buttons.js"></script>
	    <span hidden id="active_page_name">home</span>
